.zf-icon {
  --zf-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--zf-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .zf-icon--#{$val} {
    --zf-icon-color: var(--zf-color-#{$val});
  }
}