.container_content {
  height: 100%;
}

.content_overflow {
  overflow: auto;
  height: calc(100% - 36px);
  border: 1px solid #f2f2f2;
  padding: 4px 0;
}

.ordinary-head {
  height: 60px;
  line-height: 60px;
}
